.landing {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: grid;
  grid-gap: 1vw;
  grid-template-rows: 25% 5vw 2vw auto;
  grid-template-columns: 3fr 1fr 1fr 3fr;
}

.landing .title {
  grid-area: 2 / 1 / 3 / 5;
  text-align: center;
  display: block;
  color: white;
  font-size: 5vw;
  font-family: 'Bangers', cursive;
}

.button {
  border-radius: .5rem;
  font-size: 1vw
}

.landing .login-button{
  grid-area: 3 / 2 / 4 / 3;
  display: block;
}
.landing .signup-button {
  grid-area: 3 / 3 / 4 / 4;
  display: block;
}

.landing .landing-modal {
  grid-area: 1 / 1 / 5 / 5;
  background-color: rgba(96, 96, 96, .5);
  z-index: 1;
}

.modal-form {
  background-color: honeydew;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 20vw;
  height: 14vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 3fr 2fr 2fr 2fr 2fr;
  border-radius: .65rem;
  overflow: hidden;
  padding: .7rem;
  grid-gap: .2rem;
  box-shadow: 0 0 100px navajowhite;
}

.modal-form p {
  padding-top: 1.4rem;
  grid-column: 1 / 5;
  font-size: 1.5rem;
}

.modal-form input {
  grid-column: 1 / 5;
  border: none;
  border: dashed 1px black;
}

.modal-form .submit-button {
  grid-column: 3 / 4;
  grid-row: 5 / 6;
}

.modal-form .close-button {
  grid-column: 4 / 5;
  grid-row: 5 / 6;
}