.thumbnail {
  height: 300px;
  width: 300px;
}

body {
  background-image: url("./assets/green_cup.png") !important;
  background-repeat: repeat !important;
  /* background-size: cover !important; */
  color: white !important;
  text-align: center !important;
}

p {
  color: black;
}

.friend-status {
  /* position: absolute !important; */
  /* top: 10% !important; */
  float: right;
  margin-right: 2em;
}

input[type="text"] {
  width: 50% !important;
}

.answer-form {
  margin-top: 30% !important;
}

.title {
  font-family: "rockwell", serif;
  font-size: 3em;
}

.background-img {
  margin-top: -20em;
  margin-left: -18em;
  position: absolute;
  width: 60%;
  z-index: -1;
  opacity: 0.7;
}
